
/* 1. Imports externos (fuentes) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600;700&display=swap');

/* 2. Reset primero (base limpia) */
@import './styles/reset.css';

/* 3. Variables / tokens de diseño */
@import './styles/variables.css';

/* 4. Tema (dark/light) */
@import './styles/theme-dark.css';

/* 5. Tailwind */
@import 'tailwindcss';

/* 6. Utilities propias (override/control final) */
@import './styles/utilities.css';

/* Reset global + layout full viewport */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body {
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  z-index: 1;
  position: relative;
}

#app{
  position: relative;

}

/* Asegurar que el contenido principal crezca y footer se quede abajo */
main {
  flex: 1 0 auto;
  /* Hace que las vistas llenen el espacio disponible */
  display: flex;
  flex-direction: column;
}
