@import './variables.css';

section{
  padding-top: 2rem;
  padding-left: 3rem;
  width: 80%;
  
}

@media (max-width: 768px) {
  section{
    padding: 1rem;
    width: 100%;
  }
}

.view-section {
  flex: 1;
  /* Llenará el espacio que le deje el main */
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  /* Títulos compactos y "arquitectónicos" */
}

ul{
  list-style: none;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  /* Mejor legibilidad en párrafos */
}

.neon {
  color: inherit;
  font-weight: 800;
  text-shadow:
    0 0 5px var(--color-terracota-shine),
    0 0 10px var(--color-terracota-shine);
  animation: neon-flicker 4s ease-in-out infinite;
}

@keyframes neon-flicker {

  0%,
  100% {
    opacity: 1;
    text-shadow:
      0 0 2px var(--color-terracota),
      0 0 5px var(--color-terracota);
  }

  50% {
    opacity: 1;
    text-shadow:
      0 0 10px var(--color-terracota-shine),
      0 0 20px var(--color-terracota-shine),
      0 0 30px var(--color-terracota);
  }
}

.glassmorphic {
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  background-color: var(--color-glass);
  border-radius: 30px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
