@import './variables.css';

section{
  padding: 3.5rem;
}

.view-section {
  flex: 1;
  /* Llenará el espacio que le deje el main */
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  /* Títulos compactos y "arquitectónicos" */
}

ul{
  list-style: none;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  /* Mejor legibilidad en párrafos */
}
