
/* Sistema de Diseño //ACMA */
:root {
  /* --- Paleta de Colores --- */
  --color-fiery-terracotta-0  : #faeded;
  --color-fiery-terracotta-50 : #feeae7;
  --color-fiery-terracotta-100: #fcd5cf;
  --color-fiery-terracotta-200: #faaa9e;
  --color-fiery-terracotta-300: #f7806e;
  --color-fiery-terracotta-400: #f5563d;
  --color-fiery-terracotta-500: #f22b0d;
  --color-fiery-terracotta-600: #c2230a;
  --color-fiery-terracotta-700: #911a08;
  --color-fiery-terracotta-800: #611105;
  --color-fiery-terracotta-900: #300903;
  --color-fiery-terracotta-950: #0e0200;

  /* --- Tipografías --- */
  --font-primary: 'Space Grotesk', sans-serif;
  /* Para Titulares y Logo */
  --font-secondary: 'Inter', sans-serif;
  /* Para Cuerpo de texto y UI */

  /* --- Pesos Tipográficos --- */
  --font-weight-regular: 400;
  /* Párrafos */
  --font-weight-medium: 500;
  /* Botones y etiquetas */
  --font-weight-semibold: 600;
  /* Subtítulos */
  --font-weight-bold: 700;
  /* Logo y Titulares H1/H2 */

}

[data-theme="dark"] {
  --bg-primary: var(--color-fiery-terracotta-950);
  --bg-secondary: var(--color-fiery-terracotta-900);
  --bg-tertiary: var(--color-fiery-terracotta-800);

  --surface: var(--color-fiery-terracotta-900);

  --text-primary: var(--color-fiery-terracotta-50);
  --text-secondary: var(--color-fiery-terracotta-200);

  --accent: var(--color-fiery-terracotta-500);

}

[data-theme="dark"] .glassmorphic{
  background: rgba(34, 6, 2, 0.6); /* terracotta-950 */

  border: 1px solid rgba(245, 86, 61, 0.2); /* accent-400 */

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);

    transition: background 0.3s ease, border 0.3s ease;
}

