/* Importación de Space Grotesk de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@600;700&display=swap');

/* Sistema de Diseño //ACMA */
:root {
  /* --- Paleta de Colores --- */
  --color-smoke: #F4F4F9;
    /* Dominante (60%) - Fondos claros */
  --color-midnight: #0A1128;
  /* Texto principal (30%) - Alta legibilidad */
  --color-terracota: #E07A5F;
  /* Acento (10%) - Barras //, botones y hover */
  --color-slate-light: #3D5A80;
  /* Apoyo - Bordes sutiles y texto secundario */
  --color-slate-dark: #2c3e50;
  /* Apoyo - Bordes y fondos secundarios */

  /* --- Modo Claro --- */
  --color-primary: var(--color-smoke);
    /* Dominante (60%) - Fondos claros */
  --color-secondary: var(--color-terracota);
    /* Acento (10%) - Barras //, botones y hover */
  --color-background: var(--color-smoke);
    /* Fondo principal */
  --color-background-secondary: var(--color-slate-light);
    /* Fondo secundario para secciones o tarjetas */
  --color-border: var(--color-slate-light);
    /* Borde */
  --color-border-hover: var(--color-slate-dark);
    /* Borde en hover */
  --color-text: var(--color-midnight);
    /* Texto principal */
  --color-heading: var(--color-midnight);
    /* Color de los títulos */


  /* --- Tipografías --- */
  --font-primary: 'Space Grotesk', sans-serif;
  /* Para Titulares y Logo */
  --font-secondary: 'Inter', sans-serif;
  /* Para Cuerpo de texto y UI */

  /* --- Pesos Tipográficos --- */
  --font-weight-regular: 400;
  /* Párrafos */
  --font-weight-medium: 500;
  /* Botones y etiquetas */
  --font-weight-semibold: 600;
  /* Subtítulos */
  --font-weight-bold: 700;
  /* Logo y Titulares H1/H2 */

  /* --- Espaciado --- */
  --section-gap: 3rem;
  --cards-gap: 1.5rem;
}



